<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
        <title>Images</title>
    </head>

    <body>
        <%- include("../partials/header") %>
        <!-- **********NEW IMAGES FORM**************** -->
        <main class="all">
            <section class="all__form-container">
                <form action="/images/" method="post">
                    <input type="text" placeholder="new image" name="url" />
                    <input type="submit" value="add image" />
                </form>
            </section>
            <!-- *********DISPLAY OUR IMAGES********* -->
            <section class="card-row">
                <% for (image of images) { %>
                <article class="card">
                    <div
                        class="card__img"
                        aria-label="Image Unavailable"
                        style="<%= `background-image: url('${image.url}')` %>"
                        onclick="<%= `window.open('${image.url}')` %>"
                    ></div>
                </article>
                <% } %>
            </section>
            <%- include("../partials/backTotop") %>
        </main>
        <%- include("../partials/footer") %>
    </body>
</html>
